body{
    background-color: rgb(0, 140, 255);
}  

button{
    background-color: orange;
}
button:hover{
    background-color: red;
}

.Bttns{
    text-align: center;
}

.Texts{
    text-align: center;
    color:red;
}
